navbar {
  background-color: #449dd1;
}

h1 {
  display: block;
  color: #0e0e52;
  font-size: xxx-large;
  font-weight: bolder;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
}

h3 {
  display: block;
  color: #0e0e52;
  font-size: x-large;
  font-weight: bolder;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#forecast-weather {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-color: #0e0e52;
  border-width: thick;
  border-style: solid;
  border-radius: 3px;
}

#current-weather {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-color: #0e0e52;
  border-width: thick;
  border-style: solid;
  border-radius: 3px;
}

button {
  background-color: #449dd1;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #150578;
}

.search-button {
  background-color: #3943b7;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-button:hover {
  background-color: #0e0e52;
}

body {
  background-color: #78c0e0;
  font-family: Arial, Helvetica, sans-serif;
}

#city-search {
  display: flex;
  flex-flow: row;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-color: #0e0e52;
  border-width: thick;
  border-style: solid;
  border-radius: 3px;
}
